@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h3>Identity Authentication</h3>
<hr />
<hr />

@if (User.Identity.IsAuthenticated)
{
    <h4>Like I Said, Blood is Thicker than Water.</h4>
    <h3>You are Family Now <span><strong>@User.Identity.Name!</strong></span></h3>

    <h2>@Html.ActionLink("Home", "Index", "Main")</h2>
    <h2>@Html.ActionLink("Products", "ProdAdmin", "Main")</h2>
    <h2>@Html.ActionLink("Product Line (Visitor Page)", "Product", "Main")</h2>
    <h2>@Html.ActionLink("Newsletter List", "NewsAdmin", "Main")</h2>
    <h2>@Html.ActionLink("Newsletter (Visitor Page)", "Newsletter", "Main")</h2>

    @using (Html.BeginForm("Log Off", "Account"))
    {
        <input type="submit" value="Log Out" class="btn btn-default"/>
    }
}
else
{
    <h3>Hey Small Fry! Say Hello to My Little Friend</h3>
    <h4>@Html.ActionLink("Register", "Register")</h4>
    <h4>@Html.ActionLink("Show Us You Are One of Us (Log In)", "Login")</h4>
}