<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />    <title>@ViewBag.Title</title>
</head>
<body>

@using System.Security.Claims

    <div class="nav-auth">

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <img class="navbar-brand" src="http://wdrb.images.worldnow.com/images/6855498_G.jpg" />
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      @if (User.Identity.IsAuthenticated)
      { 
      <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Product Line", "ProdAdmin", "Main")</li>
          <li>@Html.ActionLink("Newsletter List", "NewsAdmin", "Main")</li>
            <li>@Html.ActionLink("Register New", "Register", "Account")</li>
          <li>@Html.ActionLink("Admin", "Index", "Account")</li>
          <li>@User.Identity.Name, Cod Fatha Mafia</li>
          
          @using (Html.BeginForm("LogOff", "Account"))
          {
              <li><input type="submit" value="Log Out" class="btn btn-default" /></li>
          }
          </ul>
      }
      else
      {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Products", "Product", "Main")</li>
                    <li>@Html.ActionLink("Newsletter", "Newsletter", "Main")</li>
                    <li>@Html.ActionLink("Admin Log In", "Login", "Account")</li>
            <li><span><h3>@Html.ActionLink("Register", "Register", "Account")</h3></span></li>
             <li><em>Cod Fatha Visitor</em></li>
        </ul>
      }
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
      
    <div>
        @RenderBody()
    </div>
</body>
</html>
